body{
    margin: 0;
    background: linear-gradient(180deg, rgba(227, 255, 248, 0.00) 82.08%, rgba(227, 255, 248, 0.38) 100%);
    min-height: 100vh;
  }
  
  #page{
    width: 1000px;
    margin: 0 auto;
    padding-top: 65px;
    font-family: 'Open Sans';
    color: #1F1534;
  }
  
  nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 58px;
  }
  
  ul{
    list-style: none;
    display: flex;
    gap: 48px;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    width: 60px;
  }
  
  li a {
    font-family: Mulish;
    font-size: 18px;
    text-decoration: none;
    color: #1F1534;
    opacity: 0.5;
  }
  
  li a:hover{
    font-weight: bold;
    opacity: 1;
  }
  
  main{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  h1 {
    font-family: Mulish;
    font-size: 49px;
    line-height: 56px;
    font-weight: normal;
    width: 490px;
  }
  
  h1 strong{
    color: #89C5CC;
  }
  
  section p{
    font-size: 14px;
    line-height: 28px;
    width: 440px;
    margin: 40px 0;
  }
  
  button{
    text-transform: uppercase;
    font-family: 'Open Sans';
    color: #F9F9F9;
    background: #69B99D;
    padding: 16px 32px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  
  button:hover{
    background: #37b88b;
  }
  
  footer{
    margin-top: 80px;
    font-size: 14px;
    line-height: 28px;
    text-align: center;
  }
  
  footer a {
    font-weight: bold;
    text-decoration: none;
    color: #1F1534;
   }
  
  #balls{
    position: fixed;
    bottom: 0;
    right: 0;
  }